<main>
	<!-- <header>
		<i class="back"></i>
	</header> -->
	<ng-menu source="menu"></ng-menu>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> <h1>Title</h1> <h2>SubTitle</h2> <span>content 1</span> </li>
	</ul>
	
	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> <h1>Input</h1> </li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> 
			<ng-input ng-model="name" place-holder="Name" ></ng-input>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-3">
			<ng-input ng-model="lastname" place-holder="Lastname" optional="true"></ng-input>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-3">
			<ng-input ng-model="name" place-holder="Lastname" disable="true"></ng-input>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-3">
			<ng-input ng-model="lastname" place-holder="Lastname" optional="true" disable="true"></ng-input>
		</li>
	</ul>
	
	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> <h1>Button</h1> </li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-6"> 
			<button ng-click="true && eventButton()">Tap here!</button>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-6">
			<button ng-class="{disable:true}" ng-click="false && eventButton()">Button disable!</button>
		</li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> <h1>Alert</h1> </li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-6"> 
			<button ng-click="true && showAlert()">Show alert!</button>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-6">
			<button ng-class="{disable:true}" ng-click="false && showAlert()">Button disable!</button>
		</li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> <h1>Spin</h1> </li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-6"> 
			<button ng-click="true && showSpin()">Show spin!</button>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-6">
			<button ng-class="{disable:true}" ng-click="false && showSpin()">Button disable!</button>
		</li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> <h1>Select</h1> </li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> 
			<ng-select  options="ngSelectOptions" place-holder="Name" ></ng-select>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-3">
			<ng-select ng-model="ngSelectModel" options="ngSelectOptions" place-holder="Lastname" optional="true"></ng-select>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-3">
			<ng-select ng-model="ngSelectModel" options="ngSelectOptions" place-holder="Lastname" disable="true"></ng-select>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-3">
			<ng-select ng-model="ngSelectModel" options="ngSelectOptions" place-holder="Lastname" optional="true" disable="true"></ng-select>
		</li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> <h1>Checkbox</h1> </li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> 
			<ng-checkbox  options="ngCheckboxOptions" place-holder="Name" ></ng-checkbox>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-3">
			<ng-checkbox ng-model="ngCheckboxOptions" options="ngSelectOptions" place-holder="Lastname" disable="true"></ng-checkbox>
		</li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> <h1>Radiobutton</h1> </li>
	</ul>

	<ul class="row">
		<li class="md-col-6 sm-col-12 lg-col-3"> 
			<ng-radiobutton  options="ngRadiobuttonOptions" place-holder="Name" ></ng-radiobutton>
		</li>
		<li class="md-col-6 sm-col-12 lg-col-3">
			<ng-radiobutton ng-model="ngRadiobuttonOptions" options="ngSelectOptions" place-holder="Lastname" disable="true"></ng-radiobutton>
		</li>
	</ul>

</main>

<ng-alert show="alertActive" title="Alert">
	Hello!!
</ng-alert>
<ng-spin ng-show="spin"></ng-spin>	