ng-alert > .overlay{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: rgba(0,0,0,.3);
}

ng-alert > .content{
	position: fixed;
	height: (100vh - 50px);
	max-width: 800px;
	margin: auto;
	top:100vh;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	background-color: rgb(255,255,255);
	box-shadow: 0px 0px 20px rgba(0,0,0,.5);
	overflow: auto;
	transition: .3s;
}
ng-alert > .content.animate-alert{
	top:50px;
	transition: .3s;
}

ng-alert > .content > .header{
	height: 40px;
	background-color: rgb(0,0,0);
	position: relative;
	line-height: 2.7;
	color: rgb(255,255,255);
	text-align: center;
}

ng-alert > .content > .header > i{
	position: absolute;
	right: 10px;
	top: 12px;
	cursor: pointer;
}